APP_ENV=production
HTTP_ADDR=:8080
PUBLIC_BASE_URL=https://example.com
RETURN_TO_BOT_URL=https://max.ru/id550411830268_4_bot

MAX_API_BASE_URL=https://platform-api.max.ru
MAX_BOT_TOKEN=put-max-token-on-server
MAX_WEBHOOK_SECRET=change-me-long-random-string
ADMIN_PLATFORM_IDS=

DATABASE_URL=postgres://robux:robux@postgres:5432/robux?sslmode=disable

KINGUIN_BASE_URL=https://gateway.kinguin.net
KINGUIN_API_KEY=put-kinguin-api-key-on-server
KINGUIN_AUTH_HEADER=X-Api-Key
KINGUIN_PRODUCTS_PATH=/esa/api/v2/products
KINGUIN_PRICE_PATH=
KINGUIN_ORDERS_PATH=/esa/api/v2/order
KINGUIN_BALANCE_PATH=/esa/api/v2/account/balance

ROBLOX_200_KINGUIN_ID=
ROBLOX_400_KINGUIN_ID=107368
ROBLOX_700_KINGUIN_ID=357198
ROBLOX_800_KINGUIN_ID=107369
ROBLOX_2000_KINGUIN_ID=107371

ROBUX_200_PRICE_RUB=299
ROBUX_400_PRICE_RUB=499
ROBUX_700_PRICE_RUB=799
ROBUX_800_PRICE_RUB=899
ROBUX_2000_PRICE_RUB=2199

USD_RUB_RATE=90
EUR_RUB_RATE=100
MARKUP_PERCENT=0
FIXED_FEE_RUB=0
DYNAMIC_MARGIN_RUB=200
ACQUIRING_FEE_PERCENT=5
ROUND_TO_RUB=1

TBANK_BASE_URL=https://securepay.tinkoff.ru
TBANK_TERMINAL_KEY=put-tbank-terminal-key
TBANK_PASSWORD=put-tbank-terminal-password
TBANK_RECEIPT_EMAIL=test@example.com
TBANK_TAXATION=usn_income
TBANK_RECEIPT_TAX=none
